/* FOLHA DE ESTILO CSS*/

/* IMPORTAÇÃO (GOOGLE FONTS) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*RESET CSS*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* layout */
.Container {
    margin: 0 auto;
    
}

.Flex{
    display: flex;
    justify-content: space-between;
}

.botao{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    background-color: red;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-weight: 700;
}

/* topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Cabaçalho */
header {
    height: 60px;
}

#logo img {
    margin: 2px;
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: rgb(53, 85, 85);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s; /* tempo de transição do menu*/
}

/* esconder menu */
#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Destaque */
main {
    height: 75vh;
    background: url(img/banner2.png);
    background-size: cover; /*imagem se ajusta a tela*/
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.3em;
    margin: 20px 0px 50px 0px;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){ /*superiores a 576px*/
    body{
        
    }
    /* layout */
    .Container {
        max-width: 540px;
    }

    /* destaque */
    main h1, main h2 {
        text-shadow: #000 0.05em 0.05em 0.05em;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){ /*superiores a 768px*/
   
     /* layout */
     .Container {
        max-width: 720px;
    }

    /* destaque */
    main {
        height: 45vh;
    }

    main h1 {
        font-size: 4em;
    }

    main h2 {
        font-size: 2em;
    }

}
/*Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){ /*superiores a 992px*/
  
     /* layout */
     .Container {
        max-width: 960px;
    }

    /* destaque */
    main {
        height: 70vh;
    }

    main h1 {
        font-size: 5.5em;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){ /*superiores a 1200px*/
   
     /* layout */
     .Container {
        max-width: 1140px;
    }

    /* cabeçario */
    header {
        height: 120px;
    }
    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }
    
    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: red
    }
}